@import "_bootstrap";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$bg: #f9f9f9;
$font: #464648;
$lightgray: #f1f1f1;
$gray: #bbb;
$darkgray: #777;
// $main: #cb79d0;
// $main: #f38411;
$main: #f76474;
$fontName: "Quicksand";

/* Base
**********/
body {
  color: $font;
  background-color: $bg;
  font-family: $fontName;
  cursor: default;
}

#app > main {
  margin-top: 0.75rem;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

i {
  user-select: none;
}

i.icon-dot-3 {
  @include make-transition($on: color, $sec: 0.2);
  &:hover {
    color: $font;
  }
}

img {
  font-size: 85%;
}

/* Bootstrap
**************/
:focus {
  outline: none !important;
  box-shadow: none !important;
}

.img-thumbnail {
  padding: 0.06rem !important;
}

.modal .modal-header,
.modal .modal-footer {
  border-color: $lightgray;
}

.modal .modal-body {
  max-height: 350px;
  overflow-y: auto;
}

.modal-backdrop {
  opacity: 0.8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.card-body {
  padding: 0.75rem 1.25rem;
}

.tooltip-inner {
  background-color: $main;
}

/* Posts default
*****************/
%post-card {
  article {
    font-size: 105%;
    margin-bottom: 1.25rem;
    overflow: hidden;
    @include make-box-shadow;

    .card-body {
      padding: 0 0 0.75rem;
    }

    .post-body {
      margin-top: 0.65rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .post-photo {
      width: 100%;
      min-height: 200px;
      max-height: 400px;
      object-fit: cover;
    }

    .post-date {
      font-size: 85%;
      color: $darkgray;
    }

    .card-text a {
      color: $main;
      @include make-transition($on: color);
    }

    .tags {
      color: $gray;
      font-size: 75%;

      li {
        display: inline-block;
        margin-right: 0.5rem;

        &:last-of-type {
          margin-right: 0;
        }

        &:before {
          content: "#";
        }
      }
    }
  }
}
