@mixin make-transition($on: all, $sec: 0.2) {
  transition: $on #{$sec}s ease-in-out;
}

@mixin make-box-shadow(
  $top: 0,
  $left: 1px,
  $blur: 2px,
  $color: rgba(0, 0, 0, 0.08)
) {
  box-shadow: $top $left $blur $color;
}

@mixin color($color: $react) {
  color: $color !important;
}

@mixin bg-color($bg-color: #fff) {
  background-color: $bg-color !important;
}
